@media (max-width:768px){
    header {
        background-color: white;
        width: 100%;
        height: auto;
      }
    header label {
        display: flex;
        justify-content: center;
    }
    
    .logo-labcar {
        background-image: url('/MEX008-labcar/src/img/logo.png');
        background-repeat: no-repeat;
        margin-left: 5em;
        margin-top: 1em;
       }

    .hamburger-icon {
           display: flex;
    }

    .menu-desktop {
        position: absolute;
        background-color: white;
        text-align: center;
        width: 50%;
        margin-left: -60%;
    }

    .nav-bar ul {
        flex-direction: column;
        width: 70%;
    }
    .menu-desktop li {
        border-top: 1px solid black;
    }
    /*Para comprobar que el checkbox funciona*/
        /* #btn-menu {
            display: block;
        } */
    #btn-menu:checked ~ .menu-desktop{
        margin-left: 0%;
    }
}